.cards{
    height:450px;
    width:300px;
}
.image{
    height:500px;
    width:325px;
    border-radius: 10px;
}
.imagecontainer{
    display: flex;
    flex-direction: column;
    margin:20px;
}
.grid{
    margin-left:30px;
    margin-top:10px;
}